@font-face {
  font-family: 'KeeponTruckin';
  src: url('./KeeponTruckin.ttf') format('truetype');
}

.about {
  .selfComments {
    height: 150px;
    .tagLine {
      font-family: 'KeeponTruckin';
      font-size: 1.5rem;
      line-height: 1;
      text-align: left;
      font-weight: 700;
      padding-top: 25px;
      margin-left: 10px;
    }
  }

  .aboutProgmme {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(120deg, #fda085 0%, #f6d365 100%);
    height: 420px;
    border-radius: 10px;
    margin-top: 20px;

    .left {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      margin-left: 20%;
      height: 120px;
      h4 {
        margin-bottom: 15px;
      }
      span {
        font-size: 0.8rem;
        color: #222222;
        opacity: 0.5 !important;
      }
    }

    .right {
      img {
        width: 600px;
      }
    }
  }
  .aboutMe {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%),
      radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
    background-blend-mode: multiply, multiply;
    border-radius: 10px;
    height: 800px;
    margin-top: 20px;
    box-sizing: border-box;
    overflow: hidden;
    .left {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      margin-left: 20%;
      height: 120px;
      h4 {
        color: #ffffff;
        margin-bottom: 15px;
      }
      span {
        font-size: 0.8rem;
        color: #ffffff;
        opacity: 0.5;
      }
      .github {
        span {
          display: inline-block;
          margin-right: 12px;
          cursor: pointer;
          opacity: 0.5;
          transition: opacity 0.1s linear;
          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .right {
      height: 100%;
      width: 500px;
      background: url('assets/imgs/jiaju.png') no-repeat center;
    }
  }
}
