.main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;

  .mainHeader {
    flex-shrink: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 30px;

    .middle {
      color: #131313;
      font-size: 1rem;
      line-height: 1em;
      font-weight: 700;
      letter-spacing: 1px;
    }

    .left > ul,
    .right > ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin: 0 15px;
        opacity: 0.4;
        transition: opacity 0.4s ease;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
      .activeLi {
        opacity: 1;
      }
      .weichat {
        position: relative;
        img {
          display: none;
          position: absolute;
          width: 120px;
          left: 50%;
          transform: translateX(-50%);
          border: 1px solid #dad6d6;
          border-radius: 5px;
          padding: 8px;
        }
        &:hover img {
          top: 30px;
          display: block;
          transform-origin: 100% 0%;
          animation: fadeIn 0.3s linear;
        }

        @keyframes fadeIn {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 100%;
          }
        }
      }
    }
  }

  .container {
    margin: 20px 35px 35px 35px;
  }
  .footer {
    margin-bottom: 15px;
    text-align: center;
    .divider {
      margin: 0 auto 15px auto;
      height: 1px;
      width: 70%;
      opacity: 0.4;
    }
  }
}
